@media (max-width: 1200px)
  .container
    max-width: 960px
  .navbar
    &-right
      margin-left: 473px!important
    &-top
      padding-bottom: 60px!important
  .about
    &-second
    &-text
      border: 1px solid red
      font-size: 16px!important
  &-click
    &__buy
      font-size: 16px
      line-height: 22px
    &__read
      font-size: 18px
      line-height: 25px
  .about-text
    font-size: 15px
@media (max-width: 992px)
  .container
    max-width: 700px
  .container
    &-wrap
      margin-bottom: 60px!important
  .navbar
    &-right
      margin-left: 213px!important
  .about
    &-second
      &__img
        max-width: 210px!important
    &-title
      font-size: 40px!important
      line-height: 60px
    &-author
      font-size: 18px!important
      line-height: 20px!important
    &-text
      font-size: 14px!important
      line-height: 28px!important
    &-click
      &__buy
        padding: 10px 20px!important
        margin-bottom: 15px
        width: 90%
        display: inline-block
        text-align: center
      &__read
        padding: 9px 20px!important
        width: 90%
        display: inline-block
        text-align: center
        flex-basis: 100%!important
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
    &-wrap
      margin-bottom: 10px!important
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        background-color: #fff
        z-index: 99
    &-top
    &-menu
      &__item
        margin-bottom: 30px
  .logo
    &__image
      width: 90px
      padding-top: 20px!important
  .menu
    &-button
      border: none
      &__line
        display: flex!important
        justify-content: space-between!important
        width: 22px!important
        height: 2px!important
        background-color: black!important

  .navbar
    &-top
      position: relative
      padding-bottom: 20px!important
      &__menu-button
        position: absolute!important
        right: 0
        margin-top: -25px
        background-color: #fff
        width: 22px!important
        height: 16px!important
        display: flex!important
        align-items: center!important
        justify-content: space-between!important
        flex-direction: column!important
        border: none!important
        cursor: pointer
    &-right
      border: 1px solid green
      display: none!important
      position: fixed!important
      margin: 0!important
      right: 0!important
      left: 0!important
      bottom: 0!important
      top: 70px!important
      background-color: #fff!important
      z-index: 100!important
      width: 100%
      &--visible
        display: block!important
    &-menu
      display: flex
      flex-direction: column
    &-button
      text-align: center
  .about
    margin-top: 70px!important
    &-second
      height: 500px!important
      &__img
        max-width: 200px!important
    &-title
      font-size: 30px!important
      line-height: 40px!important
    &-author
      font-size: 18px!important
      line-height: 20px!important
    &-text
      font-size: 14px!important
      line-height: 28px!important
      padding-bottom: 45px!important
    &-click
      &__buy
        padding: 10px 20px!important
        margin-bottom: 15px
        width: 90%
        display: inline-block
        text-align: center
      &__read
        padding: 9px 20px!important
        width: 90%
        display: inline-block
        text-align: center
        flex-basis: 100%!important
@media (max-width: 575px)
  .container
    width: 87%
    &-top
      display: block!important
  .about
    &-first
      display: block!important
      width: 100%!important
    &-second
      display: block!important
      width: 100%!important

    &-title
      text-align: center
      line-height: 40px
    &-author
      display: flex
      justify-content: space-around
      margin-top: 40px
    &-text
      text-align: center
      margin-top: 40px
    &-click
      &__buy
        width: 100%
      &__read
        width: 100%
        margin-bottom: 40px
