*
  box-sizing: border-box
body
  overflow-x: hidden /*для горизонтального*/
.container
  max-width: 1140px
  margin: auto
  padding: 0
img
  max-width: 100%
li
  list-style-type: none
a
  text-decoration: none
button
  border-radius: 8px
.modal
  font-family: Open Sans
