.navbar
  &-top

  &-menu
    display: flex
    align-items: center
    &__item
      margin-right: 20px
  &-right
    display: flex
    align-items: center
    justify-content: right
    margin-top: -45px
.logo
  &__image
    padding-top: 52px
.button
  &-nav
    color: #1565D8
    border-color: #1565D8
    background-color: #fff
    padding: 13px 27px
    margin-left: 37px
