
.navbar
  &-top
    background-color: #fff
    &__menu-button
      display: none
  &--mobile
    &_fixed
      position: fixed
      left: 0
      top: 0
      right: 0
      background-color: #fff
      z-index: 99
  &-menu
    display: flex
    align-items: center
    &__item
      font-family: Open Sans
      font-style: SemiBold
      font-weight: 600
      font-size: 16px
      line-height: 22px
    &__link:last-child
      margin-right: 22px
      color: #183B56
  &-right
    display: flex
    align-items: center
    justify-content: right
    margin-top: -60px
    margin-left: 600px
.container
  &-wrap
    height: 60px
    margin-top: -20px
    padding-top: 15px
.logo
  &__image
    width: 90px
    padding-top: 52px
.button-nav
  color: #1565D8
  border: 2px solid #1565D8
  background-color: #fff
  padding: 12px 31px
  margin-left: 42px
  font-family: Open Sans
  font-style: Bold
  font-weight: 700
  font-size: 16px
  line-height: 22px
  border-radius: 8px
  cursor: pointer
.container
  &-top
    display: flex
    justify-content: space-between
.about
  padding-top: 195px
  padding-bottom: 100px

  &-title
    font-size: 48px
    line-height: 60px
    font-family: Roboto Condensed
    font-style: Bold
    font-weight: 700
    margin-bottom: 30px
    &__yellow
      color: $fourth
    &__blue
      color: $secondary
  &-author
    color: $secondary
    font-family: roboto
    font-style: medium
    font-weight: 500
    font-size: 20px
    line-height: 24px
  &-text
    color: $third
    font-family: Open Sans
    font-style: regular
    font-weight: 500
    font-size: 18px
    line-height: 32px
    padding-bottom: 35px
    margin-top: 35px
    max-width: 585px
  &-click
    &__buy
      padding: 18px 38px
      margin-right: 20px
      background-color: $primary
      border: 1px solid $primary
      color: #FFFFFF
      font-family: Open Sans
      font-style: Bold
      font-weight: 700
      font-size: 16px
      line-height: 22px
      border-radius: 8px
      cursor: pointer
    &__read
      border-radius: 8px
      padding: 16px 49px
      border: 2px solid $primary
      color: $primary
      font-family: Open Sans
      font-style: Bold
      font-weight: 700
      font-size: 18px
      line-height: 25px
      cursor: pointer
  &-second
    position: relative
    width: 488px
    height: 580px
    background-color: #f7f8fa
    margin-top: -15px
    &__img
      position: absolute
      top: 50%
      left: 50%
      margin-top: 18px
      transform: translate(-50%, -50%)
      opacity: 1!important
      object-fit: cover
