.cont
  &-slider
    display: flex
    padding-bottom: 100px
    min-width: 0
    margin: auto
    padding-top: 55px
  &-slaid
    display: none
.line
  &-bot
    border: 1px solid #ECEEF2
    margin-top: 40px
.slide
  &-wrap:not(:last-child)
    margin-right: 26px
.slider
  max-width: 265px
  height: 240px
  border-radius: 8px
  border: 1px solid #ECEEF2
  &-card
    margin-top: 40px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    min-width: 0
  &-name
    font-family: Roboto
    font-style: normal
    font-weight: 500
    font-size: 22px
    line-height: 32px
    text-align: center
    letter-spacing: 0.2px
    color: #183B56
    margin-top: 40px
  &-genre
    font-family: Open Sans
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #5A7184
    margin-top: 10px
.motiv
  margin-top: 30px
